# News Headlines Sentiment

Use the news api to pull the latest news articles for bitcoin and ethereum and create a DataFrame of sentiment scores for each coin. 

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from newsapi import NewsApiClient
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

In [9]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [2]:
# Read your api key environment variable
# YOUR CODE HERE!
api_key = ("806ee3afb62a4aa5b3105aa996b11b13")

In [3]:
# Create a newsapi client
# YOUR CODE HERE!

newsapi = NewsApiClient(api_key=api_key)

In [4]:
# Fetch the Bitcoin news articles
# YOUR CODE HERE!
crisis_news_en = newsapi.get_everything(
    q='Bitcoin',
    language = 'en'
)

crisis_news_en['totalResults']

3614

In [5]:
# Fetch the Ethereum news articles
# YOUR CODE HERE!
crisis_new_fr = newsapi.get_everything(
    q='Ethereum',
    language = 'en'
)

crisis_new_fr['totalResults']

1331

In [10]:
# Create the Bitcoin sentiment scores DataFrame
# YOUR CODE HERE!
def create_df(topic):
    news = newsapi.get_everything(q='{topic}',
                #sources='bbc-news,the-verge',
                domains='bbc.co.uk,techcrunch.com',
                from_param='2020-08-15',
                to='2020-09-15',
                language='en',
                sort_by='relevancy',
                page=2)

    
    articles = []
    for article in news['articles']:
        try:
            sentiment = sid.polarity_scores(article["description"])
            title = article["title"]
            description = article["description"]
            text = article["content"]
            date = article["publishedAt"][:10]
            
            articles.append({
                "title": title,
                "description": description,
                "text": text,
                "date": date,
                "compound": sentiment["compound"],
                "positive": sentiment["pos"],
                "negative": sentiment["neg"],
                "neutral": sentiment["neu"],
            })
        except AttributeError:
            pass
    
    return pd.DataFrame(articles)

In [16]:
# Create the ethereum sentiment scores DataFrame
# YOUR CODE HERE!
ethereum_articles = create_df('ethereum')
bitcoin_articles = create_df('bitcoin')
bitcoin_articles.head()

,title,description,text,date,compound,positive,negative,neutral
0,Twitter debuts U.S. election hub to help peopl...,"Twitter debuted its election hub on Tuesday, i...","Twitter debuted its election hub on Tuesday, i...",2020-09-15,0.0534,0.064,0.059,0.877
1,Racing Point withdraw appeal against punishmen...,Racing Point withdraw their appeal against the...,Racing Point are fourth in the constructors' c...,2020-09-06,-0.4939,0.000,0.211,0.789
2,Facebook trails expanding portability tools ah...,Facebook is considering expanding the types of...,Facebook is considering expanding the types of...,2020-08-21,0.3182,0.050,0.000,0.950
3,Having some caffeine in pregnancy 'is fine',A couple of cups of coffee a day should not be...,Image copyrightGetty Images\r\nWhile mums-to-b...,2020-08-25,0.1511,0.096,0.000,0.904
4,Alexa von Tobel: Eliminating risk is the key t...,"Launching a company, even in the best of times...","Launching a company, even in the best of times...",2020-08-27,0.5095,0.122,0.056,0.822

In [14]:
# Describe the Bitcoin Sentiment
# YOUR CODE HERE!
bitcoin_articles.describe()

        compound   positive   negative    neutral
count  20.000000  20.000000  20.000000  20.000000
mean    0.169050   0.103250   0.061850   0.834900
std     0.493213   0.121421   0.078532   0.123328
min    -0.493900   0.000000   0.000000   0.524000
25%    -0.301550   0.000000   0.000000   0.759250
50%     0.223550   0.068500   0.021500   0.852500
75%     0.504100   0.124750   0.138000   0.929000
max     0.961800   0.418000   0.231000   1.000000

In [15]:
# Describe the Ethereum Sentiment
# YOUR CODE HERE!
ethereum_articles.describe()

        compound   positive   negative    neutral
count  20.000000  20.000000  20.000000  20.000000
mean    0.169050   0.103250   0.061850   0.834900
std     0.493213   0.121421   0.078532   0.123328
min    -0.493900   0.000000   0.000000   0.524000
25%    -0.301550   0.000000   0.000000   0.759250
50%     0.223550   0.068500   0.021500   0.852500
75%     0.504100   0.124750   0.138000   0.929000
max     0.961800   0.418000   0.231000   1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: 

Q: Which coin had the highest compound score?

A: 

Q. Which coin had the highest positive score?

A:

---

# Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word
2. Remove Punctuation
3. Remove Stopwords

In [19]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [ ]:
# Expand the default stopwords list if necessary
# YOUR CODE HERE!

In [20]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    sw = set(stopwords.words('english'))
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', article)
    words = word_tokenize(re_clean)
    lem = [lemmatizer.lemmatize(word) for word in words]
    output = [word.lower() for word in lem if word.lower() not in sw]
    return tokens

In [21]:
# Create a new tokens column for bitcoin
# YOUR CODE HERE!
article = bitcoin_articles["description"]
tokenizer(article)

TypeError: expected string or bytes-like object

In [ ]:
# Create a new tokens column for ethereum
# YOUR CODE HERE!
article = ethereum_articles["description"]
tokenizer(article)

---

# NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [23]:
from collections import Counter
from nltk import ngrams
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re
import pandas as pd
lemmatizer = WordNetLemmatizer()

In [22]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!
def process_text(doc):
    sw = set(stopwords.words('english'))
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', doc)
    words = word_tokenize(re_clean)
    lem = [lemmatizer.lemmatize(word) for word in words]
    output = [word.lower() for word in lem if word.lower() not in sw]
    return output

def bigram_counter(corpus): 
    big_string = ' '.join(corpus)
    processed = process_text(big_string)
    bigrams = ngrams(processed, n=2)
    top_10 = dict(Counter(bigrams).most_common(10))
    return pd.DataFrame(list(top_10.items()), columns=['bigram', 'count'])

def word_counter(corpus): 
    # Combine all articles in corpus into one large string
    big_string = ' '.join(corpus)
    processed = process_text(big_string)
    top_10 = dict(Counter(processed).most_common(10))
    return pd.DataFrame(list(top_10.items()), columns=['word', 'count'])

In [24]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!
corpus = bitcoin_articles["description"]
bigram_counter(corpus)

                     bigram  count
0            (course, hero)      3
1   (facebook, considering)      2
2  (considering, expanding)      2
3         (expanding, type)      2
4              (type, data)      2
5              (data, user)      2
6              (user, able)      2
7              (able, port)      2
8          (port, directly)      2
9   (directly, alternative)      2

In [25]:
corpus = ethereum_articles["description"]
bigram_counter(corpus)

                     bigram  count
0            (course, hero)      3
1   (facebook, considering)      2
2  (considering, expanding)      2
3         (expanding, type)      2
4              (type, data)      2
5              (data, user)      2
6              (user, able)      2
7              (able, port)      2
8          (port, directly)      2
9   (directly, alternative)      2

In [29]:
# Use the token_count function to generate the top 10 words from each coin
def token_count(tokens, N=10):
    """Returns the top N tokens from the frequency count"""
    big_string = ' '.join(tokens)
    processed = process_text(big_string)
    top = dict(Counter(processed).most_common(10))
    return pd.DataFrame(list(top.items()), columns=['word', 'count'])

In [30]:
# Get the top 10 words for Bitcoin
# YOUR CODE HERE!
tokens = bitcoin_articles["description"]
token_count(tokens, N=10)

          word  count
0     facebook      6
1      company      6
2           us      5
3          say      5
4          day      4
5         data      3
6         user      3
7  alternative      3
8     platform      3
9        month      3

In [31]:
# Get the top 10 words for Ethereum
# YOUR CODE HERE!
tokens = ethereum_articles["description"]
token_count(tokens, N=10)

          word  count
0     facebook      6
1      company      6
2           us      5
3          say      5
4          day      4
5         data      3
6         user      3
7  alternative      3
8     platform      3
9        month      3

# Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]
from nltk.corpus import stopwords
import nltk
import re
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
import nltk
nltk.download('wordnet')

In [ ]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!
corpus = bitcoin_articles["description"]

def process_text(doc):
    sw = set(stopwords.words('english'))
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', doc)
    words = word_tokenize(re_clean)
    lem = [lemmatizer.lemmatize(word) for word in words]
    output = [word.lower() for word in lem if word.lower() not in sw]
    return ' '.join(output)

big_string = ' '.join(corpus)
input_text = process_text(big_string)

wc = WordCloud().generate(input_text)
plt.imshow(wc)

In [ ]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!
corpus = ethereum_articles["description"]

big_string = ' '.join(corpus)
input_text = process_text(big_string)

wc = WordCloud().generate(input_text)
plt.imshow(wc)

# Named Entity Recognition

In this section, you will build a named entity recognition model for both coins and visualize the tags using SpaCy.

In [ ]:
import spacy
from spacy import displacy

In [ ]:
# Optional - download a language model for SpaCy
# !python -m spacy download en_core_web_sm

In [ ]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

## Bitcoin NER

In [ ]:
# Concatenate all of the bitcoin text together
# YOUR CODE HERE!
article = ethereum_articles["description"].str.cat()

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!
doc = nlp(article)

# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!
displacy.render(doc, style='ent')

In [ ]:
# List all Entities
# YOUR CODE HERE!
print([ent.text for ent in doc.ents if ent.label_ == 'GPE'])

---

## Ethereum NER

In [ ]:
# Concatenate all of the bitcoin text together
# YOUR CODE HERE!
article = bitcoin_articles["description"].str.cat()

In [ ]:
# Run the NER processor on all of the text
# YOUR CODE HERE!
doc = nlp(article)
# Add a title to the document
# YOUR CODE HERE!

In [ ]:
# Render the visualization
# YOUR CODE HERE!
displacy.render(doc, style='ent')

In [ ]:
# List all Entities
# YOUR CODE HERE!
print([ent.text for ent in doc.ents if ent.label_ == 'GPE'])